
.main{
    overflow:auto;
}
.gettheapp{
    margin-top: -29%;
    margin-left: 16%;
    color: #fff;
    cursor: pointer;
}
.backsideimage{
    height: 440px;
    width: 100vw;
    margin-top: -8px;
    margin-left: -1%;
}
.navparent{
    display: flex;
    flex-direction: row;
    gap: 34px;
    margin-top: -3%;
    margin-left: 52%;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}
.zomatoimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    margin-top: 3%;
}
.underzomato{
    text-align: center;
    font-weight:900;
    color:#fff;
    font-size:x-large;
}
.mainborder{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    margin-top: 3%;  
}
.location{
    margin-left:2px;
    margin-right:2px;
    margin-top:auto;
    margin-bottom: auto;
    width:30%;
}
.imageparent{
    margin-top: 11%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.image1{
    width:20%;
    height:20%;
}
.textparent{
    margin-top: -6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-left:auto;
    margin-right:auto;
    z-index: 2;
.text1{
    background-color: white;
    border: 1px solid white;
    width: 20%;
    height: 89px;
    margin-left: -1px;
}
.pad{
    padding-left:20px;
    font-weight: bold;
}


























}