
.main{
    overflow:auto;
    overflow-x: hidden;
}
.gettheapp{
    margin-top: -29%;
    margin-left: 16%;
    color: #fff;
    cursor: pointer;
}
.backsideimage{
    height: 440px;
    width: 99vw;
    margin-top: -8px;
    margin-left: -1%;
}
.navparent{
    display: flex;
    flex-direction: row;
    gap: 34px;
    margin-top: -3%;
    margin-left: 52%;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}
.zomatoimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    margin-top: 3%;
}
.underzomato{
    text-align: center;
    font-weight:900;
    color:#fff;
    font-size:x-large;
}
.locatin{
    border:1px solid white;
    background-color: #fff;
    width:800px;
    height:26px;
    z-index: 10;  
}
.imageparent{
    margin-top: 11%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.image1{
    width:20%;
    height:20%;
}
.textparent{
    margin-top: -6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-left:auto;
    margin-right:auto;
    z-index: 2;
}
.text1{
    background-color: white;
    border: 1px solid white;
    width: 20%;
    height: 89px;
    margin-left: -1px;
}
.pad{
    padding-left:20px;
    font-weight: bold;
    size:20px;
}
.pad1{
    padding-left:20px;
    size:15px;
}
.collections{
    font-size: 30px;
    font-weight: bolder;
    margin-left: 18%;
    margin-top: 6%;
}
.parent{
    display: flex;
    flex-direction: row;
    gap:50px;
}
.undercollections{
    margin-left:18%;
    margin-top:1%;
    font-size: 20px;
}
.red{
    margin-left:5%;
    color:red;
    font-size:20px;
    opacity:0.6
}
.imageparent100{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 8%;
    margin-top:0;

}
.image{
    width:266px;
    height:320px;
}
.image1text{
    margin-left: 8%;
    color: #fff;
    margin-top: -28%;
    font-size: 18px;
}
.places{
    margin-left: 8%;
    color: #fff;
    margin-top: -4%;
    font-size: 14px;

}
